<html>
  <head>
  <title>GoPrEdit</title>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.blue_grey-blue.min.css" /> 
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="/play.js"></script>
  </head>
  <body style="background-color:#f6f6f6;">

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">GoPrEdit</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/me/">Slides</a>
        <a class="mdl-navigation__link" href="/me/profile">Profile</a>
      </nav>
    </div>
  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">GoPrEdit</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/me/">Slides</a>
      <a class="mdl-navigation__link" href="/me/profile">Profile</a>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="page-content">
        {{template "body" .}}
    </div>
  </main>

</div>

  </body>
</html>
