{{define "body"}}

<div class="mdl-grid">
<div class="mdl-cell mdl-cell--5-col"></div>

<div class="mdl-cell mdl-cell--2-col">
<form id="profileForm" action="/me/profile" method="post">
   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
       {{.UserKey}}
       <input type="hidden" name="UserKey" value="{{.UserKey}}"/>
   </div>

   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" name="Name" id="name" value="{{.Name}}"/>
      <label class="mdl-textfield__label" for="name">Name...</label>
   </div>
   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="job" name="Job" value="{{.Job}}"/>
      <label class="mdl-textfield__label" for="job">Job...</label>
   </div>
   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="email" name="Email" value="{{.Email}}"/>
      <label class="mdl-textfield__label" for="email">Email...</label>
   </div>
   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
       <input class="mdl-textfield__input" type="text" id="url" name="Url" value="{{.Url}}"/>
      <label class="mdl-textfield__label" for="url">Url...</label>
   </div>
   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="twitterid" name="TwitterId" value="{{.TwitterId}}"/>
      <label class="mdl-textfield__label" for="twitterid">TwitterId...</label>
   </div>
   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="lastword" name="LastWord" value="{{.LastWord}}"/>
      <label class="mdl-textfield__label" for="lastword">Last word...</label>
   </div>
   <input type="hidden" name="Size" value="{{.Size}}"/>
   <button id="save" class="mdl-button mdl-js-button mdl-button--raised"> Save </button>

</form>
</div>

<div class="mdl-cell mdl-cell--5-col"></div>
</div>


<script>
$("#save").click(function() {
    $("#profileForm").submit();
    return false;
});
</script>

{{end}}
