<html>
<head>
<script src="/play.js"></script>
<script>
$(document).ready(function() {
        var lock = false;
        $('#Render').click(function() {
            if ( lock ) return;
            var slide = $('#slideData').text();
            $.ajax({
                 type: "POST",
                 url: "/example/change",
                 data: {slide:slide},
                 success: function(data){
                     $("#Slide").contents().find("#slideBody").html(data);
                 },
                 error: function(msg){
                     alert("fail");
                 }
            });
        });
});
</script>
</head>
<body>
<iframe id="Slide" style="width:100%;height:60%;" src="/static/empty.html"></iframe>
<textarea id="slideData" style="width:100%;height:30%;">Let's Go out to Tour.
Shizuoka.go
26 Jul 2015
Tags: golang shizuoka_go

secondarykey
Programer
admin@localhost
http://github.com/secondarykey
@secondarykey

* 自己紹介

- name:secondarykey
- job:Programer
- Twitter:secondarykey
- GitHub :secondarykey

* Shizuoka.go

言語戦争の話

* Go言語の特徴

Googleが開発している新しい言語

GCあり！

並行処理(スレッドではない)

GAEで使用可能</textarea>
</body>
</html>
